<%- include("header"); -%>
<h2>This is the about page</h2>
<p>Text textText textText textText textText textText textText textText textText textText textText textText textText textText textText textText text</p>
<%- include("footer"); -%>